<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="ruta$ | async as ruta">
                {{ruta.title.rendered}}
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div *ngIf="ruta$ | async as ruta">
        <h1 [innerHTML]="ruta.title.rendered"> </h1>
        <div text-center padding *ngIf="ruta.foto.guid">
            <img class="featured_image" [src]="ruta.foto.guid" alt="Featured Image">
        </div>
        <div [innerHTML]="ruta.salida"></div>
    </div>
</ion-content>