<ion-header>
    <ion-toolbar>
        <ion-title>Registro de ruta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
    <form class="form" [formGroup]="register_ruta" (ngSubmit)="onSubmit(register_ruta.value)">

        <ion-item>
            <ion-label color="primary">Titulo</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">Salida</ion-label>
            <ion-input type="text" formControlName="salida" class="form-controll" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">Destino</ion-label>
            <ion-input type="text" formControlName="destino"></ion-input>
        </ion-item>


        <br>
        <button ion-button full type="submit" [disabled]="!register_ruta.valid">Submit</button>
    </form>
</ion-content>