<ion-header>
    <ion-toolbar>
        <ion-title>informacion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div (click)="loadPage(post)" padding-bottom *ngFor="let post of pages$ | async">
        <div>
            <h3 [innerHTML]="post.title.rendered"> </h3>
            <p no-margin> <small> By {{post._embedded.author[0].name }} </small> </p>
        </div>
        <div *ngIf="post.featured_image">
            <img padding-top class="featured-image" [src]="post.featured_image">
        </div>
        <div>
            <div [innerHTML]="post.excerpt.rendered"></div>
        </div>
    </div>
</ion-content>