<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Listas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item [routerLink]="['/home', item.id]" *ngFor="let item of categories$ | async">
            <ion-icon name="search" slot="start"></ion-icon>
            {{item.name}}
            <div class="item-note" slot="end">
                {{item.note}}
            </div>
        </ion-item>
    </ion-list>
    <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>