<ion-header>
    <ion-toolbar>
        <div *ngIf="page$ | async as page">
            <ion-title>{{page.title.rendered}}</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="page$ | async as page">
        <h1 [innerHTML]="page.title.rendered"> </h1>
        <p no-margin> <small> By {{page._embedded.author[0].name }} </small> </p>
        <div text-center padding *ngIf="page.featured_image">
            <img class="featured_image" [src]="page.featured_image" alt="Featured Image">
        </div>
        <div [innerHTML]="page.content.rendered"></div>
    </div>
</ion-content>