<ion-content padding class="form-content">
    <form class="form" [formGroup]="login_form" (ngSubmit)="login(login_form.value)">
        <div class="center top10 bot10"> <img src="assets/logos/logoTxt.png" /> </div>
        <ion-item>
            <ion-input type="text" formControlName="username" class="form-controll" required placeholder="Nombre de usuario"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" formControlName="password" class="form-controll" required placeholder="Contraseña"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="error_message"><em>{{error_message}}</em></p>

        <ion-button expand="block" class="login-button" [disabled]="!login_form.valid" type="submit">Acceder</ion-button>

        <ion-button expand="block" class="register-button" (click)="goToRegister()" color="tertiary">Registro Usuario</ion-button>
    </form>
</ion-content>