<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="secondary">
            <ion-button *ngIf="loggedUser" (click)="logOut()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!loggedUser" (click)="goToLogin()">
                <ion-icon slot="icon-only" name="log-in"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="secondary">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <div (click)="loadPost(post)" padding-bottom *ngFor="let post of posts$ | async">
        <div>
            <h3 [innerHTML]="post.title.rendered"> </h3>
            <p no-margin> <small> By {{post._embedded.author[0].name }} </small> </p>
        </div>
        <div *ngIf="post.featured_image">
            <img padding-top class="featured-image" [src]="post.featured_image">
        </div>
        <div>
            <div [innerHTML]="post.excerpt.rendered"></div>
        </div>
    </div>

    <div (click)="loadRuta(ruta)" padding-bottom *ngFor="let ruta of rutas$ | async">
        <div>
            <h3 [innerHTML]="ruta.title.rendered"> </h3>
        </div>
        <div *ngIf="ruta.featured_image">
            <img padding-top class="featured-image" [src]="ruta.featured_image">
        </div>
        <div>
            <div>{{ruta.salida}}</div>
        </div>
    </div>
    <div (click)="loadRuta(ruta)" padding-bottom *ngFor="let ruta of rutas$ | async">
        <ion-card *ngIf="Usuario === ruta.autor">
            <ion-img [src]="ruta.featured_image"></ion-img>
            <ion-card-header>
                <ion-card-title>{{ruta.title.rendered}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{ruta.salida}} -- {{ruta.llegada}}</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>