<ion-header>
    <ion-toolbar>
        <ion-title>Rutas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--
    <ion-card [routerLink]="['/ruta', item.id]" *ngFor="let item of ruta$ | async">
        <ion-img [src]="item.foto.guid"></ion-img>
        <ion-card-header>
            <ion-card-title>{{item.title.rendered}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{item.salida}} --- {{item.llegada}}</p>
        </ion-card-content>
    </ion-card>
-->
    <ion-button ion-button (click)="addMarker()">Demo</ion-button>
    <div #mapCanvas id="mapCanvas"></div>
</ion-content>