// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.center {
    text-align: center;
}

.top10 {
    margin-top: 10%;
}

.bot10 {
    margin-bottom: 10%;
}

.error-message {
    color: #f04141;
}

#map_canvas {
    height: 90%;
    width: 100%;
}